<a href="https://colab.research.google.com/github/umsi-data-science/si370/blob/master/SI%20370%3A%20Day%201%3A%20Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<H1>Introduction</H1>
<p>
<small><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</small>
</p>

## Learning Objectives
* refresh your memory of using Jupyter
* be able to run a class notebook
* write your first code in this class
* practice submitting an assignment

<font color="magenta">IMPORTANT:</font> Replace ```?``` in the following code with your uniqname.

In [ ]:
MY_UNIQNAME = '?'

First, let's load the pandas library (this should be familiar to you):

In [ ]:
import pandas as pd

We're going to load a bunch of data files from the data/names directory.  If you look at that directory you'll see a bunch of files that are names ```yobXXXX.txt``` where XXXX is a year.  The years range from 1880 to 2014, 
so let's use python's range function to create a list of years:

In [ ]:
years = range(1880, 2015)

And let's remind ourselves how range works by examining the first and last elements of the list:

In [ ]:
print(years[0],years[-1])

1880 2014

The next cell block initializes another empty list (```pieces```)
that we append with to pandas DataFrame,
then concatenates all those DataFrames into one big DataFrame called ```df_names```:

In [ ]:
pieces = []
for year in years:
    path = f'https://raw.githubusercontent.com/umsi-data-science/si370/fa2019/data/names/yob{year}.csv'
    print(year,end=',') # just so we know something is happening
    frame = pd.read_csv(path)
    frame['year'] = year
    pieces.append(frame)
print()
df_names = pd.concat(pieces, ignore_index=True)

.......................................................................................................................................

Execute the next block . You will see what the DataFrame looks like. It includes the number of births for each name/gender combination for each year. "df_" means DataFrame.

In [ ]:
df_names.head()

     name gender  birth_count  year
0  Simeon      M           23  1880
1   Raoul      M            7  1880
2     Lou      M           14  1880
3    Myra      F           83  1880
4   Alois      M           10  1880

We want to visualize the number of births of a specific baby name (e.g., "Jane") and of a recorded gender (e.g. "F") across the years. First, execute the following code to select birth records just for "Jane" and "F":

In [ ]:
#@title Filtering by name and gender
name = "Jane" #@param {type:"string"}
gender = "F" #@param ["F", "M"]

df_filtered = df_names[(df_names.name == name) & (df_names.gender == gender)]

In [ ]:
df_filtered.head()

      name gender  birth_count  year
558   Jane      F          215  1880
3509  Jane      F          216  1881
5860  Jane      F          254  1882
8085  Jane      F          247  1883
9970  Jane      F          295  1884

## Exercise 1

(3 points)

Now go back and use the Colab form to change the name and gender values, just to give you a sense of what you can do with forms in Google Colab.  Note how the form functionality is embedded in the actual code itself:  it takes the form of a comment symbol (#) followed by @param.  I don't recommend messing with that directly unless you feel adventurous.

To create a plot, execute the following code. The first line starting with "%" is a command that enables inline plotting for the matplotlib library in Jupyter Notebook. This line needs to be executed only once per session.

In [ ]:
%matplotlib inline
df_filtered.plot('year', 'birth_count', title=name)

## Exercise 2
(4 points): Create a similar graph for another name-gender combination.

In [ ]:
# insert your code here in one or more cells

## Exercise 3
 (3 points): Describe the differences between the two graphs in one or two paragraphs using complete sentences.

Replace this with your response.

END OF NOTEBOOK

Remember to submit your work via Canvas.