# Loading data in pandas

## Learning Objectives
* load CSV files
* load JSON files
* use pd.read_html to extract tables from web pages
* load data from simple APIs 
* load data from a SQL database

Our usual mantra:

In [ ]:
import pandas as pd

Recall the ```pd.read_csv``` function that you've seen in previous classes:

In [ ]:
menu = pd.read_csv('https://raw.githubusercontent.com/umsi-data-science/si370/master/data/menu.csv')

In [ ]:
menu.head(1)

That works great for well-formatted CSV files, but what happens when you get something that looks like the ```data/avocado_eu.csv``` file.

Referring back to your readings and the [read_csv documentation online](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html), complete the following exercise


Let's read the data/avocado_eu.csv file into a pandas DataFrame and show the first 5 rows.

In [ ]:
avocado = pd.read_csv('https://raw.githubusercontent.com/umsi-data-science/si370/master/data/avocado_eu.csv')
avocado.head(5)

You'll notice that, unless you did something special in the previous read_csv invocation, the decimal points don't look quite right.  Go ahead and find the right option to convert commas to periods when loading a CSV file, as well as set the index column correctly (without having it duplicated):

## IVQ Exercise:
Read the data/avocado_eu.csv file using the correct delimiter and decimal character into a dataframe and show the first 5 rows:

The output from should look like:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>AveragePrice</th>
      <th>Total Volume</th>
      <th>4046</th>
      <th>4225</th>
      <th>4770</th>
      <th>Total Bags</th>
      <th>Small Bags</th>
      <th>Large Bags</th>
      <th>XLarge Bags</th>
      <th>type</th>
      <th>year</th>
      <th>region</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2015-12-27</td>
      <td>1.33</td>
      <td>64236.62</td>
      <td>1036.74</td>
      <td>54454.85</td>
      <td>48.16</td>
      <td>8696.87</td>
      <td>8603.62</td>
      <td>93.25</td>
      <td>0.0</td>
      <td>conventional</td>
      <td>2015</td>
      <td>Albany</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2015-12-20</td>
      <td>1.35</td>
      <td>54876.98</td>
      <td>674.28</td>
      <td>44638.81</td>
      <td>58.33</td>
      <td>9505.56</td>
      <td>9408.07</td>
      <td>97.49</td>
      <td>0.0</td>
      <td>conventional</td>
      <td>2015</td>
      <td>Albany</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2015-12-13</td>
      <td>0.93</td>
      <td>118220.22</td>
      <td>794.70</td>
      <td>109149.67</td>
      <td>130.50</td>
      <td>8145.35</td>
      <td>8042.21</td>
      <td>103.14</td>
      <td>0.0</td>
      <td>conventional</td>
      <td>2015</td>
      <td>Albany</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2015-12-06</td>
      <td>1.08</td>
      <td>78992.15</td>
      <td>1132.00</td>
      <td>71976.41</td>
      <td>72.58</td>
      <td>5811.16</td>
      <td>5677.40</td>
      <td>133.76</td>
      <td>0.0</td>
      <td>conventional</td>
      <td>2015</td>
      <td>Albany</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2015-11-29</td>
      <td>1.28</td>
      <td>51039.60</td>
      <td>941.48</td>
      <td>43838.39</td>
      <td>75.78</td>
      <td>6183.95</td>
      <td>5986.26</td>
      <td>197.69</td>
      <td>0.0</td>
      <td>conventional</td>
      <td>2015</td>
      <td>Albany</td>
    </tr>
  </tbody>
</table>

In [ ]:
# insert your code here

# Loading JSON data

In addition to CSV files, JSON (JavaScript Object Notation) files or data are commonly used.

In [ ]:
nfl_football_players = pd.read_json('https://raw.githubusercontent.com/umsi-data-science/si370/master/data/nfl_football_profiles.json')

In [ ]:
nfl_football_players.head()

And, just for fun, show the player with the highest Current Salary from that dataset:

In [ ]:
nfl_football_players.sort_values('current_salary', ascending=False).head(1)

## Fixing up the data
Assuming you did something like sort_values on one of the original columns, you probably got the wrong result.

Looking a bit more closely at the results, you'll notice that the current_salary column.  Remembering that we have made the shift from pythonic to pandorable, we can leverage the impressive-sounding "vectorized string functions" mentioned in the McKinney book.  Specifically, we can use the str.replace(...) method.  Note that had we use read_csv to load the file we could have used the ```thousands=``` option and avoided all this, but sometimes data doesn't come in a convenient format.

One way to apply functions is to operate on a column and then assign the results to another column.  For example, if we wanted to eliminate commas, we could replace them with null strings

In [ ]:
nfl_football_players['current_salary'].str.replace(',', '')

And assign the results to a column in the original dataframe (in this case I'm calling the column current_salary_nocommas)

In [ ]:
nfl_football_players['current_salary_nocommas'] = nfl_football_players['current_salary'].str.replace(',', '')

But you'll notice that the type of the column is string, and we want to convert it to a float so we can sort it numerically.  So we can use the astype() function to convert it:

In [ ]:
nfl_football_players.current_salary_nocommas.dtype

In [ ]:
nfl_football_players['current_salary_cleaned'] = nfl_football_players['current_salary_nocommas'].astype(float)

In [ ]:
nfl_football_players.head(3)

And now we can re-run our command to sort by salary and get the correct result:

In [ ]:
nfl_football_players.sort_values('current_salary_cleaned', ascending=False).head(1)

## Dropping missing values

In addition to the "all" or "any" functionality described in McKinney section 7.1, it's sometimes useful to drop a row only if a certain column or columns have missing data.  To do this, use the subset= option with dropna().  So, for example, to drop all players for whom we do not have salary information, we could use the following code:

In [ ]:
nfl_football_players_salaries = nfl_football_players.dropna(subset=['current_salary_cleaned'])

In [ ]:
nfl_football_players_salaries.head()

# Scraping Tables from HTML

The ```pd.read_html``` function returns a list of DataFrames read from an HTML source.  The following line will return a list of DataFrames from https://en.wikipedia.org/wiki/List_of_largest_sports_contracts

In [ ]:
contracts_scraped = pd.read_html('https://en.wikipedia.org/wiki/List_of_largest_sports_contracts',header=0)

In [ ]:
len(contracts_scraped)

To get the first table, you'll need to pull off the 0th element:

In [ ]:
contracts = contracts_scraped[0]
contracts.head()

## IVQ Exercise: 

Count the number of players from each sport in the List of Largest Sports Contracts 

Hint:  remember ```value_counts()``` from your previous work.

In [ ]:
# insert your code here

# APIs and requests
You've covered the ```requests``` package in previous courses.  This example shows what you can do with an API that returns JSON:

In [ ]:
import requests

In [ ]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [ ]:
resp = requests.get(url)

In [ ]:
data = resp.json()

In [ ]:
data[0]['user']['login']

In [ ]:
issues = pd.DataFrame(data)
issues.head()

In [ ]:
issues.columns

In [ ]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])
issues.head()

In [ ]:
issues.iloc[1]

# Accessing databases
This section requires you to review your notes about SQL from previous courses.

We'll use this opportunity to gauge where we're at in terms of understanding SQL.

---

Let's install sqlalchemy and some database drivers.
(Does that make sense?  If not, let's talk about it when we get together.)

In [ ]:
!pip install sqlalchemy pymysql

And import the relevant libraries:

In [ ]:
import sqlalchemy as sqla
import pandas as pd

Now let's set up some variables and connect to the database.  Note that the password is available through the video and you'll need to replace SECRET_REPLACE_ME with the password.

In [ ]:
endpoint = "database-370-fa2020.cgeyvh9t1svz.us-east-1.rds.amazonaws.com" 
username = "si370wn2020"
password = "SECRET_REPLACE_ME"
database = "goodreads"

db = sqla.create_engine(f'mysql+pymysql://{username}:{password}@{endpoint}/{database}')

Now the real part:  using `read_sql` to read some data from the database.  In this case, we're going to count the number of entries in the ratings table:

In [ ]:
df = pd.read_sql('select count(*) from ratings',db)
df.head()

We can get the SQL engine to do more of the work (instead of doing it in pandas):

In [ ]:
df = pd.read_sql('select rating, count(*) from ratings group by rating', db)
df.head()

## Summary
* load CSV files using `read_csv()` (options are useful)
* load JSON files using `read_json()`
* extract tables from web pages using `read_html()`
* load data from simple APIs by initializing a DataFrame from JSON (as an example)
* load data from a SQL database using `read_sql()`